<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panel - Movilco</title>
  <link rel="stylesheet" href="/static/panel.css">
</head>

<body>
  <header>
    <img src="/IMG/logo.png" class="logo" alt="Movilco">
    <button id="logoutBtn" class="logout-btn">Cerrar sesión</button>
  </header>

  <section class="user-info">
    <h2 id="userEmail"></h2>
    <p id="userDetails"></p>
  </section>

  <section class="main-content">
    <h1>Seguimiento de ventas Líderes</h1>
    
    <div class="card">
      <img src="/IMG/nacional.png" class="banner">
      <p class="select-text">Selecciona una región para continuar</p>
      <button class="btn" id="btnRegiones">Regiones</button>
      <button class="btn" id="btnMetas">Metas del Distrito</button>
    </div>
  </section>

  <script src="/static/js/panel.js"></script>
</body>
</html>
